html{
  font-family: 'Roboto', sans-serif;
  background: #363636;
  font-size: 20px;
}

body{
  width: 700px;
  height: 200px;
  color: white;
}
.col-container {
  display: flex;
  width: 100%;
}
.col {
  flex: 1;
  padding: 16px;
  justify-content: space-between;
}
.colInnerLeft{
  float: left;
  width: 50%;
  box-sizing:border-box;
  padding-right: 5px;
  padding-bottom: 5px;
}
.colInnerRight{
  float: right;
  width: 50%;
  box-sizing:border-box;
  padding-left: 5px;
  padding-bottom: 5px;
}

.stats{
  font-weight: 400;
  /*font-size: 18px;*/
}

#soloTitle{
  background: #17C2FE;
  color: #034A63;
}

#duoTitle{
  background: #5CFC7B;
  color: #21592C;
}

#squalTitle{
  background: #C272D9;
  color: #45294D;
}