:root {
  --body-width: 450px;
  --body-height: 350px;
  --body-background: #1F1F1F;
  
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body{
  width: var(--body-width);
  height: var(--body-height);
  background: var(--body-background) !important;
}

.max-height {
  height: 100% !important;
}

#brandContainer {
  height: 10%;
}

#searchContainer {
  height: 9%;
}

#usernameContainer {
  height: 11%;
  margin-top: 5px; 
}

#username {
  font-size: 5vh;
}

#profileContainer {
  height: 60%;
}

.stats-container {
  height: 68%;
}

.stats-row {
  height: 25%;
  display: flex;
  background: #292929;
}

.stats-title {
  display: flex;
  flex: 2;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.stats-data {
  display: flex;
  flex: 3;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

.modeTitle {
  height: 12%;
}

.rank-row {
  height: 20%;
  display: flex;
  background: #363636;
}

.rank-image {
  height: 100%;
  flex: 1;
}

.rank-text {
  display: flex;
  flex: 3;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}

.bottom {
  bottom: 0px;
}

.right {
  right: 0px;
}

.round-edges {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#soloTitle{
  background: #17C2FE;
  color: #034A63;
  font-weight: 600;
}

#duoTitle{
  background: #5CFC7B;
  color: #21592C;
  font-weight: 600;
}

#squadTitle{
  background: #C272D9;
  color: #45294D;
  font-weight: 600;
}